@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DM+Sans&family=Fuzzy+Bubbles&family=Indie+Flower&family=Kolker+Brush&family=Lora&family=Poiret+One&family=Roboto:wght@900&family=Signika+Negative:wght@300&display=swap');


body {
  background-color: #D5A021;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.course-name {
  height: 50px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lora', serif;
  font-size: 20px;
  padding: 1em;
  color: white;
  min-height: 2em;
  background-color: brown;
}

.navbar a {
  text-decoration: none;
  position: relative;
  color: black;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-right: 1em;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.linky::after {
  position: absolute;
  content: " ";
  background-color: #69140E;
  width: 75%;
  height: 2px;
  left: 9px;
  bottom: -5px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
  /* left: 2px; */
}

.linky:hover::after {
  transform: scaleX(1);
}

.home {
  font-family: 'Lora', serif;
}

.add {
  font-family: 'Lora', serif;
}